<mat-toolbar color="primary">
    <span class="app-title">{{title}}</span>
    <span class="fill-space-right"></span>
    <a mat-button [routerLink]="['/welcome']" routerLinkActive="mat-raised-button">Página Inicial</a>
    <a mat-button [routerLink]="['/products']" routerLinkActive="mat-raised-button" [routerLinkActiveOptions]="{exact : true}">Produtos</a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>account_circle</mat-icon>
          <span>Olá, {{username}}</span>
        </button>
        <a mat-menu-item *ngIf="!isAuthenticated" [routerLink]="['/login']"><span>Login</span></a>
        <a mat-menu-item *ngIf="isAuthenticated" (click)="logout()"><span>Logout</span></a>
      </mat-menu>
</mat-toolbar>