<div class="products-container">
    <div>
        <h1 class="header">{{pageTitle}}</h1>
        <button class="new-product-btn" color="accent" mat-button matTooltip="Novo produto" [routerLink]="['/products', 0, 'edit']">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Martelo">
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table class="table-responsive" [dataSource]="products" matSort matSortActive="name">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let product; columns: displayedColumns;"></tr>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Produto</th>
                <td mat-cell *matCellDef="let product">
                    <a [routerLink]="['/products', product.id]" [queryParams]="{showImage: showImage}">
                        {{ product.name }}
                    </a>
                </td>
            </ng-container>
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
                <td mat-cell *matCellDef="let product">{{ product.code }}</td>
            </ng-container>
            <ng-container matColumnDef="releaseDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Data de Lançamento</th>
                <td mat-cell *matCellDef="let product">{{ product.releaseDate | date:'dd/MM/yyyy' }}</td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
                <td mat-cell *matCellDef="let product">{{ product.price | currency:'BRL' }}</td>
            </ng-container>
            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let product">
                    <button mat-button matTooltip="Editar" [routerLink]="['/products', product.id, 'edit']">
                        <mat-icon>create</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let product">
                    <button mat-button matTooltip="Deletar" (click)="confirmDeletion(product)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>
            </ng-container>
        </table>
        <mat-paginator [pageSizeOptions]="[4, 8]" ></mat-paginator>
    </div>
</div>