<div class="products-container">
    <div>
        <h1 class="header">{{pageTitle}}</h1>
    </div>
    <div class="card-body" *ngIf="product">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-3">Nome:</div>
                    <div class="col-md-6">{{ product.name }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Código:</div>
                    <div class="col-md-6">{{ product.code }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Descrição:</div>
                    <div class="col-md-6">{{ product.description }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Data de Lançamento:</div>
                    <div class="col-md-6">{{ product.releaseDate | date:'dd/MM/yyyy' }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Preço:</div>
                    <div class="col-md-6">{{ product.price | currency:"BRL" }}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Avaliação:</div>
                    <div class="col-md-6">
                        {{ product.rating }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">Categoria:</div>
                    <div class="col-md-6">{{ getCategoryDescription(product.category) }}</div>
                </div>
            </div>
            <div class="col-md-2" *ngIf="product.imageUrl">
                <img class="center-block img-fluid" [src]="product.imageUrl" [title]="product.name">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <button mat-stroked-button color="accent" class="mr-3" [routerLink]="['/products']">
                    Voltar
                </button>
                <button mat-stroked-button color="primary" [routerLink]="['/products', product.id, 'edit']">
                    Editar
                </button>
            </div>
        </div>
    </div>
</div>